body {
    background-color: grey;
}

.nav_bar {
    background-color: 
    rgb(67, 64, 247);
}
.container {
margin-top: 30px;
margin: auto;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 background-color: rgb(154, 218, 230);
border-radius: 20px;
}


